extends base

block content
  .section-cart
    a.cart-back(href="/") < Your Cart
    .section-cart-rows 
      .cart-product 
        p Product
      .cart-price 
        p Price
      .cart-quantity
        p Quantity
      .cart-subtotal 
        p Subtotal