.user-nav
    a.user-nav-link(href="/me")
        i.fa-solid.fa-gear.user-nav-link__icon
        | Profile Setting
    a.user-nav-link(href="/orders")
        i.fa-solid.fa-bag-shopping.user-nav-link__icon
        | Orders
    a.user-nav-link(href="/reviews")
        i.fa-solid.fa-star.user-nav-link__icon
        | Reviews
    a.user-nav-link(href="/billing")
        i.fa-solid.fa-wallet.user-nav-link__icon
        | Billing
    if user.role === 'admin'
        p(style="border-bottom: 2px solid rgb(238, 238, 238); margin: 1rem 0 0 1rem") Admin
        a.user-nav-link(href="/manageOrder")
            i.fa-solid.fa-bag-shopping.user-nav-link__icon
            | Manage Order
        a.user-nav-link(href="/manageReviews")
            i.fa-solid.fa-star.user-nav-link__icon
            | Manage Reviews
        a.user-nav-link(href="/manageBillings")
            i.fa-solid.fa-wallet.user-nav-link__icon
            | Manage Billings
        a.user-nav-link(href="/manageUsers ")
            i.fa-solid.fa-users.user-nav-link__icon
            | Manage Users